/* Header */
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed; /* Fixed header for constant visibility */
  z-index: 10;
  background-color: #bbb; /* Header background color */
  font-family: 'Rubik Bubbles', sans-serif;
}

.shop-logo{
  width: 200px;
  height: 30px;
  margin-top: 0;
}

/* Hamburger Menu */
#navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px; /* Hidden position for hamburger menu */
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  background-color: #999999; /* Background color for the hamburger menu */
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0; /* Initially transparent */
}

#navi li:hover{
  transform: scale(1.1); /* Enlarge menu item on hover */
}

#navi a {
  color: #fff; /* Text color for menu links */
}

.open #navi {
  left: 0;
  opacity: 1; /* Make the menu visible when open */
}

/* Hamburger Menu Items */
#navi ul {
  margin: 0;
  padding: 0;
}

#navi ul.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;
}

#navi ul.nav-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}

/* Hamburger Menu Toggle Button */
.toggle_btn {
  display: block;
  position: fixed;
  top: 18px;
  right: 45px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333; /* Color of the toggle button lines */
  border-radius: 4px;
  transition: all .5s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle_btn span {
  background-color: #fff; /* Color of the toggle button lines when the menu is open */
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0; /* Hide the middle line when the menu is open */
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

/* Mask */
#mask {
  display: none; /* Initially hidden */
  transition: all .5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e6e2d7;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/* Footer */
.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}

#contact {
  font-family: 'Rubik Bubbles', sans-serif;
  padding: 80px 0;
  color: #fff;
  background-color: #bbb;
  text-align: center;
  font-size: 0.75rem;
}

#contact .sec-title {
  color: #fff;
}

#contact .content {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#contact .contact-info p {
  margin-bottom: 30px;
}

#contact .contact-info,
#contact .contact-form {
  width: 45%;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

#contact .contact-form .button input {
  width: 30%;
  color: #fff;
  background-color: #bbb;
  border: outset 2px #fff;
  padding: 15px 0;
}

#contact .contact-form .button input:hover {
  color: #202020;
  background-color: #fff;
}

/* Responsive for small screens */
@media screen and (max-width: 768px) {
  /* Footer adjustments for small screens */
  #contact .content {
    flex-direction: column; /* Display in column direction */
  }

  #contact .contact-info,
  #contact .contact-form {
    width: 100%;
  }

  #contact .contact-form .button input {
    width: 100%;
  }
}
